<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<wicket:panel>

		<table id="logos">
			<tr>
				<td><a href="http://www.springframework.org/"> <img
						title="vai al sito del framework Spring, il collegamento 
			viene aperto in una nuova finestra"
						alt="Spring" src="wicketLayout_files/logo_spring.gif"/></a></td>
				<td><a href="http://www.mozilla.com/"> <img alt="Firefox"
						src="wicketLayout_files/logo_firefox.gif"/></a></td>
				<td><a href="http://tomcat.apache.org/"> <img alt="Tomcat"
						src="wicketLayout_files/logo_tomcat.png"/></a></td>
				<td><a href="https://wicket.apache.org/"> <img alt="Wicket"
						width="50px" height="50px"
						src="wicketLayout_files/logo_Wicket.png"/></a></td>
				<td><a href="http://maven.apache.org/"> <img alt="Maven"
						width="100px"
						src="wicketLayout_files/logo_maven.jpg"/></a></td>
				<td><a href="https://eclipse.org/home/index.php"> <img alt="Eclipse"
						width="100px"
						src="wicketLayout_files/logo_eclipse.png"/></a></td>
				<td><a href="http://docs.oracle.com/javase/7/docs/api/"> <img alt="Java Api doc"
						width="100px"
						src="wicketLayout_files/logo_java.jpg"/></a></td>
			</tr>
		</table>










	</wicket:panel>
</body>
</html>