
<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<div class="menuTitle">main menue</div>
	<ul class="menuItems small">
		<li><img src="wicketLayout_files/home.gif" /> <a
			class="Offmouse" href="#" id="newOspite"
			onmouseout="this.className='Offmouse'"
			onmouseover="this.className='Onmouse'" wicket:id="homelink">Home</a></li>
		<li><a class="Offmouse" href="#" id="newOspite"
			onmouseout="this.className='Offmouse'"
			onmouseover="this.className='Onmouse'" wicket:id="modelsdemolink">Models
				Demo</a></li>

	</ul>
</wicket:panel>