<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 <title>Simple Template</title>
  <link href="wicketLayout_files/jquery-ui.css" rel="stylesheet" type="text/css">
  <link href="wicketLayout_files/new_style.css" rel="stylesheet" type="text/css">
  <link href="wicketLayout_files/print.css" rel="stylesheet" media="print" type="text/css"> 
</head>
<body>
	<div id="header" wicket:id="headerPanel">Header</div>
	<div id="pagecenter">
		<div id="Menu" wicket:id="menuPanel">Menu</div>
		<div id="Content" wicket:id="contentComponent">Content</div>
	</div>
	<div id="footer" wicket:id="footerPanel">footer</div>
</body>
</html>